# Enable GPIO
CONFIG_GPIO=y

# Enable clock control
CONFIG_CLOCK_CONTROL=y

# Code partition needed for correct flash range
CONFIG_USE_DT_CODE_PARTITION=y

# Output UF2 with correct family ID for nRF52840
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_BUILD_OUTPUT_UF2_FAMILY_ID="0xADA52840"

# USB HID
CONFIG_ZMK_USB=y

# BLE HID
CONFIG_ZMK_BLE=y

# Settings Support
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Pin control
CONFIG_PINCTRL=y

# USB device info
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_MANUFACTURER="Seeed"
CONFIG_USB_DEVICE_PRODUCT="XIAO nRF52840 Plus"
CONFIG_USB_DEVICE_VID=0x2886
CONFIG_USB_DEVICE_PID=0x0052

CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
