if SHIELD_MOTH_HYBRID_LEFT

config ZMK_KEYBOARD_NAME
    default "Moth Hybrid"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MOTH_HYBRID_LEFT || SHIELD_MOTH_HYBRID_RIGHT

config ZMK_SPLIT
    default y

endif
