/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/gpio/gpio.h>

/ {
    model = "Seeed XIAO nRF52840 Plus Custom";
    compatible = "seeed,xiao-ble-plus";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    // This block links your custom label definitions to the physical hardware pins
    xiao_pins: xiao_pins {
        compatible = "gpio-keys";
        // Mapping baseline pins 0-11
        xiao_d_0:  pin_0  { gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>; };
        xiao_d_1:  pin_1  { gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>; };
        xiao_d_2:  pin_2  { gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>; };
        xiao_d_3:  pin_3  { gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>; };
        xiao_d_4:  pin_4  { gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>; };
        xiao_d_5:  pin_5  { gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>; };
        xiao_d_6:  pin_6  { gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>; };
        xiao_d_7:  pin_7  { gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>; };
        xiao_d_8:  pin_8  { gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>; };
        xiao_d_9:  pin_9  { gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>; };
        xiao_d_10: pin_10 { gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>; };
        xiao_d_11: pin_11 { gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>; };
        
        // Custom Plus Mapping: Defining Pin 23 as the hardware pad P1.00
        xiao_d_23: pin_23 { gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>; };
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x0000c000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0x0000c000 0x000e2000>;
        };
        storage_partition: partition@ee000 {
            label = "storage";
            reg = <0x000ee000 0x00012000>;
        };
    };
};

&gpio0 { status = "okay"; };
&gpio1 { status = "okay"; };
